body {
  background: #000;
}

.main{
  padding: 30px;
  text-align: center;
}

.block-col {
  display: inline-block;
  vertical-align: top;
}

.block-col--main {
  background: #fff;
  border: 50px solid rgb(59, 134, 78);
  border-radius: 25px;
}

.score {
  color: aquamarine;
  width: 100px;
  border: 3px solid aquamarine;
  text-align: right;
  padding: 10px;
  font-size: 3em;
}

.canv {
  display: block;
}